{% set grid_size = theme_var('grid-size') %}
<section class="section {{ page.header.class}}">
    <section class="container {{ grid_size }}">
        <div class="content-block">
            {{ content|raw }}
        </div>
    </section>
</section>
