{% set grid_size = theme_var('grid-size') %}
<section class="section {{ page.header.class}}">
    <section class="container {{ grid_size }}">
        <div class="flex-block d-flex align-items-start justify-content-between">
            <div class="video-block">
                <img src="{{ url('theme://assets/mock-video-contracts.png') }}" alt="">
            </div>
            <div class="text-block">
                {{ content|raw }}
            </div>
        </div>
    </section>
</section>
