{% set grid_size = theme_var('grid-size') %}

<section class="section modular-text {{ page.header.class}} bg-gray">
    <section class="container {{ grid_size }}">
        <div class="columns">
            <div class="column col-12">
                {{ content|raw }}
            </div>
            <div class="column col-12">
                <div class="timeline-points">
                    {% for point in page.header.points %}
                    <div class="timeline-item">
                        {{ point.title }}
                    </div>
                    {% endfor  %}
                </div>
            </div>
        </div>
    </section>
</section>
