<section id="footer" class="section">
    <section class="container {{ grid_size }}">
        <div class="flex-logo-block">
            <div class="line"></div>
            <a href="/" class="logo">
                <img src="{{ url('theme://assets/svg/obyte_logo.svg')  }}" />
            </a>
            <div class="line"></div>
        </div>
        <div class="menu-list">
            <div class="menu-block">
                <div class="title">Product</div>
                <div class="category-list">
                    <a href="#">Download Obyte</a>
                    <a href="/applications">Where use Obyte</a>
                    <a href="/technology">Technology</a>
                    <a href="/technology/order-providers">Order Providers</a>
                    <a href="/developers">Developers</a>
                    <a href="/testnet">Testnet</a>
                    <a href="/faq">FAQ</a>
                    <a href="/grants">Grants</a>
                    <a href="https://explorer.obyte.org">Explorer</a>
                    <a href="https://medium.com/obyte">Blog</a>
                    <a href="https://wiki.obyte.org">Wiki</a>
                    <a href="/Byteball.pdf">White Paper</a>
                    <a href="https://github.com/byteball">GitHub</a>
                </div>
            </div>
            <div class="menu-block">
                <div class="title">Platform</div>
                <div class="category-list">
                    <a href="/platform">Obyte Platform</a>
                    <a href="/platform/autonomous-agents">Autonomous Agents</a>
                    <a href="/platform/identity">Identity</a>
                    <a href="/platform/payment-channels">Payment channels</a>
                    <a href="/platform/textcoins">Textcoins</a>
                    <a href="/platform/blackbytes">Blackbytes</a>
                    <a href="/platform/smart-contracts">Smart contracts</a>
                    <a href="/platform/oracles">Oracles</a>
                    <a href="/platform/prosaic-contracts">Prosaic contracts</a>
                    <a href="/platform/iot">IoT</a>
                    <a href="/platform/iot/proofs-of-concept">IoT PoCs</a>
                    <a href="/platform/chatbots">Chatbots</a>
                    <a href="/platform/tokens">Tokens</a>
                </div>
            </div>
            <div class="menu-block">
                <div class="title">About</div>
                <div class="category-list">
                    <a href="/events">Events</a>
                    <a href="/careers">Careers</a>
                    <a href="/distribution">Distribution</a>
                    <a href="/distribution/world-community-grid">World Community Grid</a>
                    <a href="/resources">Resources</a>
                    <a href="/community-projects">Community projects</a>
                    <a href="https://ico-platform.obyte.org">ICO Platform</a>
                    <a href="https://obyte-for-merchants.com">Merchants</a>
                    <a href="https://stats.obyte.org">Stats</a>
                    <a href="https://press.obyte.org">Media Kit</a>
                    <a href="/contact">Contact</a>
                </div>
            </div>
            <div class="menu-block">
                <div class="title">Legal</div>
                <div class="category-list">
                    <a href="/legal">Obyte Foundation</a>
                    <a href="/legal/terms">Terms</a>
                    <a href="/legal/privacy">Privacy</a>
                </div>
            </div>
        </div>
        <div class="community-list">
            <a class="community-block" href="https://discord.obyte.org/">
                <img src="/user/themes/obyte/assets/svg/social-icons/discord.svg" alt="">
                <img class="hover" src="/user/themes/obyte/assets/svg/social-icons/hover/discord.svg" alt="">
            </a>
            <a class="community-block" href="https://mp.weixin.qq.com/s/JB0_MlK6w--D6pO5zPHAQQ">
                <img src="/user/themes/obyte/assets/svg/social-icons/wechat.svg" alt="">
                <img class="hover" src="/user/themes/obyte/assets/svg/social-icons/hover/wechat.svg" alt="">
            </a>
            <a class="community-block" href="https://t.me/obyteorg">
                <img src="/user/themes/obyte/assets/svg/social-icons/telegram.svg" alt="">
                <img class="hover" src="/user/themes/obyte/assets/svg/social-icons/hover/telegram.svg" alt="">
            </a>
            <a class="community-block" href="https://medium.com/obyte">
                <img src="/user/themes/obyte/assets/svg/social-icons/medium.svg" alt="">
                <img class="hover" src="/user/themes/obyte/assets/svg/social-icons/hover/medium.svg" alt="">
            </a>
            <a class="community-block" href="https://www.reddit.com/r/obyte/">
                <img src="/user/themes/obyte/assets/svg/social-icons/reddit.svg" alt="">
                <img class="hover" src="/user/themes/obyte/assets/svg/social-icons/hover/reddit.svg" alt="">
            </a>
            <a class="community-block" href="https://bitcointalk.org/index.php?topic=1608859.0">
                <img src="/user/themes/obyte/assets/svg/social-icons/bitcoin.svg" alt="">
                <img class="hover" src="/user/themes/obyte/assets/svg/social-icons/hover/bitcoin.svg" alt="">
            </a>
            <a class="community-block" href="https://twitter.com/ObyteOrg">
                <img src="/user/themes/obyte/assets/svg/social-icons/twitter.svg" alt="">
                <img class="hover" src="/user/themes/obyte/assets/svg/social-icons/hover/twitter.svg" alt="">
            </a>
            <a class="community-block" href="https://www.facebook.com/obyte.org">
                <img src="/user/themes/obyte/assets/svg/social-icons/facebook.svg" alt="">
                <img class="hover" src="/user/themes/obyte/assets/svg/social-icons/hover/facebook.svg" alt="">
            </a>
            <a class="community-block" href="https://www.youtube.com/channel/UCYAjbxT5zHfeTtXe_hr9Gxg/">
                <img src="/user/themes/obyte/assets/svg/social-icons/youtube.svg" alt="">
                <img class="hover" src="/user/themes/obyte/assets/svg/social-icons/hover/youtube.svg" alt="">
            </a>
        </div>
        <div class="copyright">© 2020 Obyte. All Rights Reserved</div>
    </section>
</section>
