<section id="footer" class="section">
    <section class="container {{ grid_size }}">
        <div class="flex-logo-block">
            <div class="line"></div>
            <a href="/" class="logo">
                <img src="{{ url('theme://assets/svg/obyte_logo.svg')  }}" />
            </a>
            <div class="line"></div>
        </div>
        <div class="menu-list">
            <div class="menu-block">
                <div class="title">Product</div>
                <div class="category-list">
                    <a href="#">Download Byteball</a>
                    <a href="">Getting Started</a>
                    <a href="">Explorer</a>
                    <a href="">Features</a>
                </div>
            </div>
            <div class="menu-block">
                <div class="title">Company</div>
                <div class="category-list">
                    <a href="">About Us</a>
                    <a href="">Contact</a>
                    <a href="">Blog</a>
                </div>
            </div>
            <div class="menu-block">
                <div class="title">Documents</div>
                <div class="category-list">
                    <a href="">White Papers</a>
                    <a href="">Wiki</a>
                    <a href="">Media Kit</a>
                </div>
            </div>
            <div class="menu-block">
                <div class="title">Terms & Policy</div>
                <div class="category-list">
                    <a href="">Terms of Service</a>
                    <a href="">Privacy Statement</a>
                    <a href="">Security</a>
                </div>
            </div>
        </div>
        <div class="community-list">
            <a class="community-block" href="http://discord.obyte.org/">
                <img src="/user/themes/obyte/assets/svg/social-icons/discord.svg" alt="">
                <img class="hover" src="/user/themes/obyte/assets/svg/social-icons/hover/discord.svg" alt="">
            </a>
            <a class="community-block" href="https://mp.weixin.qq.com/s/JB0_MlK6w--D6pO5zPHAQQ">
                <img src="/user/themes/obyte/assets/svg/social-icons/wechat.svg" alt="">
                <img class="hover" src="/user/themes/obyte/assets/svg/social-icons/hover/wechat.svg" alt="">
            </a>
            <a class="community-block" href="https://t.me/obyteorg">
                <img src="/user/themes/obyte/assets/svg/social-icons/telegram.svg" alt="">
                <img class="hover" src="/user/themes/obyte/assets/svg/social-icons/hover/telegram.svg" alt="">
            </a>
            <a class="community-block" href="https://medium.com">
                <img src="/user/themes/obyte/assets/svg/social-icons/medium.svg" alt="">
                <img class="hover" src="/user/themes/obyte/assets/svg/social-icons/hover/medium.svg" alt="">
            </a>
            <a class="community-block" href="https://www.reddit.com/r/obyte/">
                <img src="/user/themes/obyte/assets/svg/social-icons/reddit.svg" alt="">
                <img class="hover" src="/user/themes/obyte/assets/svg/social-icons/hover/reddit.svg" alt="">
            </a>
            <a class="community-block" href="https://bitcointalk.org/index.php?topic=1608859.0">
                <img src="/user/themes/obyte/assets/svg/social-icons/bitcoin.svg" alt="">
                <img class="hover" src="/user/themes/obyte/assets/svg/social-icons/hover/bitcoin.svg" alt="">
            </a>
            <a class="community-block" href="https://twitter.com/ObyteOrg">
                <img src="/user/themes/obyte/assets/svg/social-icons/twitter.svg" alt="">
                <img class="hover" src="/user/themes/obyte/assets/svg/social-icons/hover/twitter.svg" alt="">
            </a>
            <a class="community-block" href="https://www.facebook.com/obyte.org">
                <img src="/user/themes/obyte/assets/svg/social-icons/facebook.svg" alt="">
                <img class="hover" src="/user/themes/obyte/assets/svg/social-icons/hover/facebook.svg" alt="">
            </a>
            <a class="community-block" href="https://www.youtube.com/channel/UCYAjbxT5zHfeTtXe_hr9Gxg/">
                <img src="/user/themes/obyte/assets/svg/social-icons/youtube.svg" alt="">
                <img class="hover" src="/user/themes/obyte/assets/svg/social-icons/hover/youtube.svg" alt="">
            </a>
        </div>
        <div class="copyright">© 2020 Obyte. All Rights Reserved</div>
    </section>
</section>
