.section {
  &.applications-wrap {
    color: rgba(0, 0, 0, 0.87);
    background: url('../assets/applications/applications-bg.jpg') center top no-repeat;
    &:before {
      content: '';
      position: absolute;
      height: 660px;
      width: 100%;
      top: 0;
      left: 0;
      background: url('../assets/applications/applications-repeat-bg.jpg') center top repeat-x;
      z-index: -1;
    }
    h1 {
      margin: 0;
      padding: 102px 0 16px;
      font-family: 'Open Sans', sans-serif;
      font-size: 48px;
      font-weight: 600;
      color: $link-color;
    }
    h2 {
      margin: 0 0 40px;
      font-weight: 300;
      font-size: 36px;
      color: $link-color;
    }
    p {
      font-size: 16px;
      line-height: 28px;
    }
    .sub-block {
      max-width: 386px;
      margin-bottom: 28px;
      font-size: 24px;
      line-height: 33px;
    }
    .sub-text-block {
      max-width: 615px;
    }
    ul {
      margin: 0 0 16px 18px;
    }
    .flex-block {
      display: flex;
      .img-block {
        max-width: 50%;
        flex-shrink: 0;
        img {
          display: block;
          max-width: 100%;
          &.mobile {
            display: none;
          }
        }
      }
      &.right {
        .info-block {
          margin-right: 85px;
        }
      }
      &.left {
        .img-block {
          margin-left: -130px;
        }
        .info-block {
          margin-left: 85px;
        }
      }
      &.first {
        align-items: end;
        .img-block {
          margin-top: 180px;
        }
      }
      &.center {
        align-items: center;
      }
      &.bottom {
        align-items: flex-end;
      }
      &.second {
        margin-top: -25px;
        .img-block {
          margin-left: -335px;
          max-width: inherit;
          flex-shrink: 0;
        }
        .info-block {
          min-width: 350px;
        }
      }
      &.seven {
        .info-block {
          min-width: 350px;
          margin-right: -85px;
        }
        .img-block {
          margin-right: -335px;
          max-width: inherit;
          flex-shrink: 0;
        }
      }
    }
  }
}

@media (max-width: 1120px) {
  .section {
    &.applications-wrap {
      .flex-block {
        margin-bottom: 50px;
        &.second,
        &.seven {
          margin-top: 0;
          .img-block {
            margin: 0 0 15px 0;
            max-width: 50%;
          }
        }
        &.seven {
          .info-block {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media (max-width: $size-sm) {
  .section {
    &.applications-wrap {
      h1 {
        font-size: 34px;
        line-height: normal;
      }
      ul {
        margin: 0 0 16px 14px;
      }
      .flex-block {
        flex-flow: column wrap;
        .img-block {
          max-width: 100%;
          margin: 0 0 30px;
          img {
            display: none;
            &.mobile {
              display: block;
            }
          }
        }
        &.left,
        &.right {
          .img-block {
            margin: 0 auto 30px;
            order: 1;
          }
          .info-block {
            margin: 0;
            order: 2;
          }
        }
        &.first {
          .info-block {
            order: 1;
          }
          .img-block {
            order: 2;
          }
        }
        &.second,
        &.seven {
          .img-block {
            margin: 0 auto 30px;
            max-width: 100%;
            img {
              display: block;
            }
          }
        }
      }
    }
  }
}
