.article-wide-wrap {
  padding: 100px 0 0;
  &.textcoins {
    background-color: #E5E5EA;
    .bot {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(0deg, #F7F7F7 0%, rgba(247,247,247,0) 100%);
      z-index: 2;
    }
    .image-overlay {
      overflow: hidden;
      background: url('../assets/article-images/textcoins-bg.jpg') bottom center no-repeat;
      z-index: 1;
    }
    .container {
      position: relative;
      z-index: 1;
    }
  }
  .text-block {
    padding: 102px 0;
    max-width: 525px;
  }
  h1 {
    margin: 0 0 16px;
    font-weight: 300;
    font-size: 48px;
    margin-bottom: 16px;
    color: $link-color;
  }
  h2 {
    margin: 0 0 12px;
    font-weight: 300;
    font-size: 36px;
    color: $link-color;
  }
  h3 {
    margin: 0 0 16px;
    font-size: 24px;
    font-weight: normal;
    line-height: 33px;
    color: rgba(0, 0, 0, 0.6);
  }
  p {
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
  }
}
