.section {
  &.developers-wrap {
    position: relative;
    color: rgba(0, 0, 0, 0.87);
    background: url('../assets/developers/developers-bg.jpg') top center no-repeat;
    &:before {
      content:'';
      position: absolute;
      height: 660px;
      width: 100%;
      top: 0;
      left: 0;
      background-color: #f8f3f0;
      z-index: -1;
    }
    h1 {
      margin: 0;
      padding: 100px 0;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 48px;
      color: $link-color;
    }
    p {
      margin-bottom: 16px;
    }
    .bullet {
      &:before {
        content:'';
        margin: 10px 18px 0 0;
        display: inline-block;
        vertical-align: top;
        width: 6px;
        height: 6px;
        background-color: $blue2;
        border-radius: 50%;
      }
    }
    .bullet-padding {
      margin-left: 24px;
    }
  }
}

.developers-wide {
  .categories-list {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    .category-block {
      margin: 0 0 16px;
      padding: 100px 0;
      width: calc(50% - 8px);
      font-size: 16px;
      flex-shrink: 0;
      flex-grow: 0;
      color: $black;
      .img-block {
        margin-bottom: 22px;
        img {
          display: block;
        }
      }
      .title {
        margin: 0 0 20px;
        font-size: 36px;
        color: $text-color2;
        font-weight: normal;
      }
      a {
        color: $blue2;
      }
      .inner-wrap {
        margin: 0 auto;
        max-width: 360px;
      }
      .link-list {
        display: flex;
        flex-flow: column wrap;
        a {
          line-height: 28px;
          &:before {
            content: '';
            margin: 10px 12px 0 0;
            display: inline-block;
            vertical-align: top;
            width: 4px;
            height: 4px;
            background-color: $blue2;
            border-radius: 50%;
          }
        }
      }
      &.one {
        background: linear-gradient(135.26deg, #F1F1FF 6.12%, #E5E5EA 100.09%);
      }
      &.two {
        background: linear-gradient(138.35deg, #FFF2F1 -1.63%, #FDEFE6 94.69%);
      }
      &.three {
        background-color: $gray;
      }
      &.four {
        background: linear-gradient(321.09deg, #E5E5EA -12.87%, #E0EEFF 100%);
      }
    }
  }
}

@media (max-width: $size-sm) {
  .developers-wide {
    .categories-list {
      flex-flow: column wrap;
      .category-block {
        width: 100%;
        padding: 40px 1.4rem;
        .inner-wrap {
          max-width: none;
        }
      }
    }
  }
}
