.section {
  &.distribution-wrap {
    color: rgba(0, 0, 0, 0.87);
    min-height: 650px;
    background: url('../assets/distribution/distribution-bg.jpg') center top no-repeat;
    &:before {
      content: '';
      position: absolute;
      height: 660px;
      width: 100%;
      top: 0;
      left: 0;
      background: url('../assets/distribution/distribution-bg.jpg') center top repeat-x;
      z-index: -1;
    }
    h1 {
      margin: 0;
      padding: 102px 0 16px;
      font-family: 'Open Sans', sans-serif;
      font-size: 48px;
      font-weight: 600;
      color: $link-color;
    }
    h2 {
      font-weight: 300;
      font-size: 36px;
      color: $link-color;
    }
    p {
      font-size: 16px;
      line-height: 28px;
    }
    .sub-block {
      max-width: 445px;
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 33px;
    }
    .sub-text-block {
      max-width: 670px;
    }
    .distribution-block {
      margin: 0 -1.4rem;
      background-color: $white;
      border-radius: 8px;
      .info-block {
        padding: 31px 28px 23px;
        .title {
          margin-bottom: 9px;
        }
      }
    }
    table {
      width: 100%;
      border-spacing: inherit;
    }
    thead {
      th {
        border-bottom: 1px solid #4A90E2;
        text-align: left;
        padding: 12px 14px;
        font-weight: bold;
        font-size: 14px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.87);
        &:nth-child(2n),
        &:nth-child(3n){
          white-space: nowrap;
        }
      }
    }
    tbody {
      td {
        padding: 7px 14px;
        border-bottom: 1px solid #E5E5EA;
        &:nth-child(2n) {
          white-space: nowrap;
        }
        &:nth-child(3n) {
          text-align: right;
        }
      }
    }
  }
}
@media (max-width: $size-sm) {
  .section {
    &.distribution-wrap {
      h1 {
        font-size: 34px;
        line-height: normal;
      }
      table {
        th,td {
          padding: 7px 10px;
          &:nth-child(1) {
            width: 100px;
          }
          &:nth-child(2) {
            width: 85px;
          }
          &:nth-child(3) {
            width: 125px;
            white-space: inherit;
          }
          //&:nth-child(4) {
          //  width: 100%;
          //}
          &:nth-child(4) {
            max-width: 25px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      thead {
        th {
          flex-grow: 1;
        }
      }
      tbody {
        td {
          //&:nth-child(1) {
          //  width: 50%;
          //}
          //&:nth-child(2) {
          //  width: 25%;
          //}
        }
      }
    }
  }
}
