#footer {
  padding: 96px 0;
  background-color: $body-color;
  .flex-logo-block {
    margin-bottom: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    .line {
      flex-grow: 1;
      height: 58px;
      background: url('../assets/line.png') center no-repeat;
    }
    .logo {
      margin: 0 80px;
      flex-shrink: 0;
    }
  }
  .menu-list {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
  }
  .menu-block {
    margin: 0 16px;
    max-width: 160px;
    flex-grow: 1;
    text-align: left;
    .title {
      margin-bottom: 24px;
      font-size: 20px;
      font-weight: 300;
      color: $text-color2;
    }
  }
  .category-list {
    margin-bottom: 24px;
    display: flex;
    flex-flow: column wrap;
    font-size: 14px;
    a {
      color: $text-color;
      line-height: 28px;
    }
  }
  .community-list {
    margin-bottom: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .community-block {
    margin: 0 8px 8px;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    img {
      display: block;
      border-radius: 50%;
      &.hover {
        display: none;
      }
    }
    &:hover {
      img {
        display: none;
        &.hover {
          display: block;
        }
      }
      .icon {
        &.icon-discord {

        }
        &.icon-weechat {

        }
        &.icon-telegram {

        }
        &.icon-medium {

        }
        &.icon-reddit {

        }
        &.icon-bitcoin {

        }
        &.icon-twitter {

        }
        &.icon-facebook {

        }
        &.icon-youtube {

        }
      }
    }
  }
  .copyright {
    font-size: 12px;
    color: $text-color;
  }
}

@media (max-width: $size-sm) {
  #footer {
    padding: 110px 1rem 74px;
    .flex-logo-block {
      justify-content: flex-start;
      .line {
        display: none;
      }
      .logo {
        margin: 0;
      }
    }
    .menu-list {
      margin: 0 0 32px -32px;
      flex-flow: row wrap;
    }
    .menu-block {
      margin-left: 32px;
      margin-right: 0;
      width: calc(50% - 32px);
      max-width: inherit;
      min-width: 130px;
      .title {
        margin-bottom: 24px;
        font-size: 20px;
        font-weight: normal;
      }
      a {
        font-size: 14px;
      }
    }
    .community-list {
      margin-bottom: 16px;
      flex-flow: row wrap;
    }
  }
}


