body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
}

.container {
  padding: 0 16px;
}

.d-flex {
  &.align-items-start {
    align-items: start;
  }
  &.align-items-center {
    align-items: center;
  }
  &.justify-content-between {
    justify-content: space-between;
  }
  &.flex-column {
    flex-flow: column;
  }
}

.btn {
  padding: 12px 19px;
  height: auto;
  line-height: normal;
  background-color: $blue;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  color: $white;
  text-decoration: none;
  border-radius: 30px;
  &:hover {
    color: $blue;
  }
  &.btn-transparent {
    color: $link-color;
    background-color: transparent;
    border: 1px solid rgba($blue2, 0.2);
  }
}

#page-wrapper .btn {
  color: $white;
  &:hover {
    color: $blue;
  }
  &.btn-transparent {
    color: $link-color;
    &:hover {
      color: $blue;
    }
  }
}

#page-wrapper {
  background-position: 119% 1%;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}
