body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
}

#body-wrapper .container {
  padding: 0 16px;
}

.d-flex {
  &.align-items-start {
    align-items: start;
  }
  &.align-items-center {
    align-items: center;
  }
  &.justify-content-between {
    justify-content: space-between;
  }
  &.flex-column {
    flex-flow: column;
  }
}

.btn {
  padding: 12px 19px;
  height: auto;
  line-height: normal;
  background-color: $blue;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  color: $white;
  text-decoration: none;
  border-radius: 30px;
  &:hover {
    color: $blue;
  }
  &.btn-transparent {
    color: $link-color;
    background-color: transparent;
    border: 1px solid rgba($blue2, 0.2);
  }
}

#page-wrapper .btn {
  color: $white;
  &:hover {
    color: $blue;
  }
  &.btn-transparent {
    color: $link-color;
    &:hover {
      color: $blue;
    }
  }
}

#page-wrapper {
  padding-top: 100px;
  background-position: 119% 1%;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

.all-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dev-blog {
  margin: 0 -1.4rem 16px;
  display: flex;
  padding: 36px 40px 35px;
  background: rgba(74, 144, 226, 0.1);
  border-radius: 8px;
  .dev-img-block {
    margin: 0 68px 0 0;
    flex-shrink: 0;
    img {
      display: block;
    }
  }
  .cat {
    margin-bottom: 4px;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(21, 32, 43, 0.6);
  }
  .title {
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: 300;
    line-height: normal;
    color: $link-color;
  }
  p {
    margin-bottom: 0;
    line-height: 28px;
  }
  &.white {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  }
}

@media (max-width: $size-sm) {
  #page-wrapper {
    padding-top: 56px;
  }
  .dev-blog {
    flex-flow: column nowrap;
    .title {
      font-size: 28px;
    }
  }
}
