body {
  font-family: 'Open Sans', sans-serif;
}

.d-flex {
  &.align-items-start {
    align-items: start;
  }
  &.align-items-center {
    align-items: center;
  }
  &.justify-content-between {
    justify-content: space-between;
  }
  &.flex-column {
    flex-flow: column;
  }
}

.btn {
  padding: 8px 19px;
  height: auto;
  line-height: normal;
  background-color: $blue;
  border-radius: 20px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  color: $white;
  text-decoration: none;
  &:hover {
    color: $blue;
  }
  &.btn-transparent {
    color: $link-color;
    background-color: transparent;
    border: 1px solid rgba($blue2, 0.2);
  }
}

#page-wrapper .btn {
  color: $white;
  &:hover {
    color: $blue;
  }
  &.btn-transparent {
    color: $link-color;
    &:hover {
      color: $blue;
    }
  }
}

#page-wrapper {
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: $body-color;
}

h1 {

}
