body.header-fixed.header-animated {
  #header.scrolled {
    height: 3rem;
  }
}
#header {
  font-family: 'Noto Sans', sans-serif;
  background-color: $header-color;
  height: auto;
  border: none;
  box-shadow: 0 1px 0 rgba(69, 108, 145, 0.12);
  .container {
    height: 100%;
  }
  .navbar {
    height: 100%;
  }
  .navbar-section {
    height: auto;
    &.logo {
      height: auto;
    }
  }
  .logo {
    padding: 20px 0 18px;
    img {
      height: 62px;
    }
  }
  .dropmenu {
    margin-right: 16px;
    ul li {
      a {
        padding: 12px 16px;
        font-weight: bold;
        font-size: 16px;
        color: $link-color;
      }
    }
  }
  .lang-block {
    margin-right: 42px;
    font-size: 16px;
    font-weight: bold;
    a {
      color: $link-color;
    }
    .current-lang {
      padding: 8px;
      border: 1px solid rgba($blue, 0.2);
      border-radius: 50%;
      &:hover {
        text-decoration: none;
        border-color: $blue
      }
    }
    .lang-list {
      display: none;
      position: absolute;
      top: 42px;
      left: 0;
    }
  }
  .btn {
    padding: 8px 19px;
  }
}

.mobile-menu {
  .button_container {
    top: 42px;
    width: 22px;
    height: 14px;
    span {
      height: 2px;
      background-color: $link-color;
      &:nth-child(2) {
        top: 6px;
      }
      &:nth-child(3) {
        top: 12px;
      }
    }
  }
}

body.header-fixed.header-animated #header.scrolled ~ .mobile-menu {
  .button_container {
    top: 20px;
  }
}

@media (max-width: $size-sm) {

}
