.modular-hero {
  .text-block {
    max-width: 550px;
    h1 {
      margin-bottom: 16px;
      color: $link-color;
      font-size: 48px;
      line-height: 65px;
      font-weight: 300;
    }
    p {
      margin-bottom: 38px;
      font-size: 24px;
      line-height: 33px;
      color: rgba($black, 0.6);
    }
  }
  .img-block {
    width: 50%;
  }
}

@media (max-width: $size-sm) {

}
