.section {
  &.modular-hero {
    .text-block {
      max-width: 550px;
      h1 {
        margin-bottom: 16px;
        color: $link-color;
        font-size: 48px;
        line-height: 65px;
        font-weight: 300;
      }
      p {
        margin-bottom: 38px;
        max-width: 440px;
        font-size: 24px;
        line-height: 33px;
        color: $text-color;
      }
    }
    .img-block {
      position: relative;
      max-width: 553px;
      img {
        margin-top: -60px;
        display: block;
      }
    }
  }
  &.smart-contracts {
    padding-bottom: 160px;
    .video-block {
      margin-right: 46px;
      flex-grow: 1;
      box-shadow: 0 10px 30px rgba(74,144,226,0.2);
      img {
        display: block;
        width: 100%;
      }
    }
    .text-block {
      max-width: 29.4%;
      flex-shrink: 0;
      h1 {
        margin-bottom: 12px;
        color: $link-color;
        font-family: 'Open Sans', sans-serif;
        font-size: 36px;
        line-height: 49px;
        font-weight: 300;
      }
      h4 {
        margin-bottom: 12px;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        line-height: 28px;
        color: $text-color;
      }
      p {
        font-size: 12px;
        line-height: 20px;
        color: $text-color;
      }
    }
  }
  &.timeline-wrap {
    overflow: hidden;
    h1 {
      margin-bottom: 12px;
      font-size: 36px;
      font-family: 'Open Sans', sans-serif;
      color: $link-color;
    }
    p {
      font-size: 16px;
      color: $text-color;
    }
    .text-block {
      max-width: 670px;
      margin-bottom: 70px;
    }
    .swiper-outer-wrap {
      .inner-wrap {
        position: relative;
        flex-shrink: 0;
      }
    }

    .left-grad,
    .right-grad {
      position: relative;
      flex-grow:1;
      z-index: 2;
      pointer-events: none;
      .grad {
        position: absolute;
        height: 100%;
      }
    }
    .left-grad {
      .grad {
        left: 0;
        right: 38px;
        background: linear-gradient(to right, #f7f7f7 0%, #f7f7f7 50%, rgba(#f7f7f7, 0) 100%);
      }
    }
    .right-grad {
      .grad {
        left: 0;
        right: 0;
        background: linear-gradient(to left, #f7f7f7 0%, #f7f7f7 50%, rgba(#f7f7f7, 0) 100%);
      }
    }

    .swiper-wrapper {
      margin-bottom: 72px;
    }

    .swiper-container {
      overflow: visible;
    }
    .swiper-slide {
      margin-top: 42px;
      padding-top: 40px;
      position: relative;
      padding-right: 32px;
      width: 260px;
      border-top: 5px solid rgba($blue2, 0.2);
      .dot {
        position: absolute;
        top: -15px;
        left: 0;
        width: 14px;
        height: 14px;
        background-color: $blue2;
        border: 5px solid $white;
        box-shadow: 0 6px 20px rgba(74, 144, 226, 0.12);
        border-radius: 50%;
      }
      .date {
        margin-bottom: 9px;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        color: $blue2;
      }
      .event {
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        color: rgba($black, 0.6);
      }
      user-select: none;
      transition: opacity 250ms linear;
      &.hidden {
        opacity: 0.2;
      }
    }

    .swiper-control {
      position: relative;
      user-select: none;
      z-index: 2;
      .control {
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 1px solid rgba($blue, 0.2);
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        &:hover {

        }
      }
    }
  }
  &.downloads-wrap {
    padding: 200px 0 0;
    background: url('../assets/rings.png') 88px top no-repeat;
    .img-block {
      margin: 0 90px 0 -110px;
      flex-shrink: 0;
      &.mobile {
        margin-left: 0;
        display: none;
      }
    }
    h1 {
      margin: 92px 0 32px;
      font-size: 36px;
      font-weight: 300;
      color: $link-color;
    }
    p {
      margin-bottom: 55px;
      color: $text-color;
    }
    .app-list {
      margin-bottom: 28px;
      img {
        display: block;
      }
    }
    .program-list {
      margin-bottom: 40px;
      font-weight: bold;
    }
  }
  &.team-wrap {
    padding: 100px 0 108px;
    background-color: $white;
    &:after {
      content:'';
      position: absolute;
      right: -35%;
      bottom: -70%;
      width: 1138px;
      height: 1138px;
      background: radial-gradient(100% 100% at 53.92% 0%, #FFFFFF 0%, #4A90E2 100%);
      mix-blend-mode: normal;
      opacity: 0.04;
      border: 4px solid $blue;
      border-radius: 50%;
    }
    .text-block {
      margin: 0 auto 62px;
      max-width: 670px;
    }
    h1 {
      margin-bottom: 12px;
      font-size: 36px;
      font-weight: 300;
      color: $link-color;
    }
    .team-list {
      position: relative;
      margin: 0 0 10px -32px;
      display: flex;
      z-index: 1;
    }
    .member {
      margin: 0 0 32px 32px;
      width: calc(25% - 32px);
      .img-block {
        img {
          display: block;
          width: 100%;
        }
      }
      .name {
        font-size: 20px;
        margin-bottom: 3px;
      }
      .role {
        font-size: 12px;
      }
    }
  }
  &.exchanges-wrap {
    position: relative;
    padding: 125px 0 86px;
    &:after {
      content: '';
      position: absolute;
      top: 394px;
      left: -440px;
      width: 712px;
      height: 712px;
      background: rgba(74, 144, 226, 0.8);
      mix-blend-mode: normal;
      opacity: 0.02;
      border: 4px solid #1560BD;
      border-radius: 50%;
    }
    >.container {
      position: relative;
      z-index: 1;
    }
    h1 {
      margin: 0 0 12px;
      font-size: 36px;
      font-weight: 300;
      color: $link-color;
    }
    .text-block {
      max-width: 725px;
    }
    .exchanges-list {
      margin-left: -32px;
      display: flex;
      flex-flow: row wrap;
    }
    .exchange-block {
      margin: 0 0 32px 32px;
      height: 98px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(25% - 32px);
      background-color: $white;
      box-shadow: 0 6px 20px rgba(229, 229, 234, 0.24);
      border-radius: 10px;
      img {
        display: block;
        max-width: 90%;
        filter: grayscale(100);
      }
      &:hover {
        img {
          filter: grayscale(0);
        }
      }
    }
  }
  &.community-wrap {
    .text-block {
      margin: 0 auto;
      max-width: 625px;
    }
    h1 {
      margin: 0 0 12px;
      font-size: 36px;
      font-weight: 300;
      color: $link-color;
    }
    p {
      margin-bottom: 32px;
      color: $text-color;
    }
  }
}

@media (max-width: $size-sm) {
  .section {
    &.timeline-wrap {
      .swiper-container {
        margin: 0;
      }
      .swiper-control {
        justify-content: center;
      }
      .swiper-slide {
        padding: 30px 0 0;
        text-align: center;
        width: 150px;
        .dot {
          left: 50%;
          margin-left: -12px;
        }
      }
    }
    &.downloads-wrap {
      padding: 200px 0 0;
      background: url('../assets/rings.png') 88px top no-repeat;
      .img-block {
        display: none;
        margin-right: 90px;
        flex-shrink: 0;
        &.mobile {
          display: block;
        }
      }
    }
    &.team-wrap {
      .team-list {
        margin: 0;
        flex-flow: column wrap;
        width: 100%;
        .member {
          margin-left: 0;
        }
      }
    }
  }
}
