.section {
  &.resources-wrap {
    position: relative;
    color: rgba(0, 0, 0, 0.87);
    background: url('../assets/resources/resources.jpg') top center no-repeat;
    &:before {
      content:'';
      position: absolute;
      height: 660px;
      width: 100%;
      top: 0;
      left: 0;
      background: url('../assets/resources/resources-bg.png') center repeat-x;
      z-index: -1;
    }
    h1 {
      margin: 0;
      padding: 100px 0 80px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 48px;
      color: $link-color;
    }
    p {
      margin-bottom: 16px;
    }
    .resources-list {
      margin-left: -16px;
      display: flex;
      flex-flow: row wrap;
    }
    .resource-block {
      margin: 0 0 16px 16px;
      padding: 42px 24px 32px;
      width: calc(33.3% - 16px);
      display: flex;
      flex-flow: column nowrap;
      flex-shrink: 0;
      align-items: center;
      text-align: center;
      background-color: $white;
      box-shadow: 0 6px 20px rgba(229, 229, 234, 0.24);
      border-radius: 8px;
      .img-block {
        margin-bottom: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        height: 160px;
        img {
          max-width: 100%;
          max-height: 100%;
          display: block;
        }
      }
      .title {
        margin-bottom: 20px;
        font-size: 36px;
        color: $text-color2;
        a {
          text-decoration: none;
          color: $text-color2;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .text {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }
}

@media (max-width: $size-sm) {
  .section {
    &.resources-wrap {
      .resources-list {
        margin-left: 0;
        display: flex;
        flex-flow: row wrap;
      }
      .resource-block {
        margin: 0 0 22px 0;
        width: 100%;
        .img-block {
          margin-bottom: 15px;
          width: auto;
          height: auto;
          img {
            max-width: inherit;
            max-height: inherit;
          }
        }
        .title {
          margin-bottom: 10px;
        }
      }
    }
  }
}
