.section {
  &.identity-wrap {
    color: rgba(0, 0, 0, 0.87);
    background: url('../assets/identity/identity-bg.jpg') center top  no-repeat;
    &:before {
      content: '';
      position: absolute;
      height: 660px;
      width: 100%;
      top: 0;
      left: 0;
      background: url('../assets/identity/identity-repeatable-bg.jpg') center top repeat-x;
      z-index: -1;
    }
    h1 {
      margin: 0;
      padding: 102px 0 19px;
      font-family: 'Open Sans', sans-serif;
      font-size: 48px;
      font-weight: 600;
      color: $link-color;
    }
    h2 {
      font-weight: 300;
      font-size: 36px;
      color: $link-color;
    }
    p {
      font-size: 16px;
      line-height: 28px;
      max-width: 960px;
    }
    .sub-block {
      max-width: 500px;
      margin-bottom: 27px;
      font-size: 24px;
      line-height: 33px;
    }
    .sub-text-block {
      max-width: 595px;
    }
    .flex-block {
      display: flex;
      .img-block {
        flex-shrink: 0;
      }
      &.one {
        .info-block {
          margin-top: 130px;
          .info-img {
            margin: 0 90px 0 -88px;
          }
        }
        .img-block {
          flex-shrink: 0;
          margin: 0 -65px 0 90px;
          img {
            display: block;
            max-width: 100%;
          }
          .mobile {
            display: none;
          }
        }
      }
    }
    .attestors-list {
      padding-left: 28px;
    }
    .attestor-block {
      margin-bottom: 46px;
      display: flex;
      .img-block {
        margin-right: 64px;
        flex-shrink: 0;
        img {
          display: block;
          width: 158px;
        }
      }
      h2 {
        margin: 0 0 7px;
      }
    }
  }
}


@media (max-width: $size-sm) {
  .section {
    &.identity-wrap {
      background: url(../assets/identity/identity-bg.jpg) center top/ auto #f7f7f7 no-repeat;
      h1 {
        font-size: 34px;
        line-height: normal;
      }
      .flex-block {
        flex-flow: column nowrap;
        margin-bottom: 20px;
        padding: 20px 0 25px;
        &.one {
          .img-block {
            order: 1;
            margin: 20px auto;
            img {
              display: none;
            }
            .mobile {
              display: block;
            }
          }
          .info-block {
            order: 2;
            margin: 20px auto;
            .info-img {
              margin: 0;
            }
          }
        }
      }
      .attestor-block {
        flex-flow: column nowrap;
      }
    }
  }
}
