.section {
  &.article-wrap {
    padding: 145px 0 85px;
    >.container {
      position: relative;
    }
    .article-flex {
      display: flex;
    }
    .article-img-block {
      flex-grow:1;
      height: 5px;
      img {
        position: absolute;
        top: -145px;
        right: -88px;
        display: block;
      }
    }
    .header-block {
      position: relative;
      z-index: 1;
      max-width: 550px;
      h1 {
        margin: 0 0 16px;
        font-size: 48px;
        line-height: 65px;
        color: $link-color;
        font-weight: 300;
      }
      p {
        margin: 0 0 80px;
        color: $text-color;
        font-size: 24px;
        line-height: 33px;
      }
    }
    .text-block {
      position: relative;
      z-index: 1;
      max-width: 670px;
    }
  }
  &.articles-list-wrap {
    padding-bottom: 100px;
    .article-list {
      display: flex;
      justify-content: space-between;
    }
    .article-block {
      width: calc(50% - 32px);
      display: flex;
      flex-flow: column nowrap;
      overflow: hidden;
      border-radius: 8px;
      background-color: $white;
      box-shadow: 0 10px 30px rgba(74, 144, 226, 0.2);
      .img-block {
        img {
          display: block;
          width: 100%;
        }
      }
      .content-block {
        padding: 32px;
        display: flex;
        flex-shrink: 0;
        flex-grow: 1;
        flex-flow: column nowrap;
        justify-content: space-between;
      }
      .title {
        margin-bottom: 16px;
        font-weight: 300;
        font-size: 36px;
        line-height: 49px;
        color: $link-color;
      }
      .text {
        margin-bottom: 55px;
        font-size: 16px;
        line-height: 22px;
        color: $text-color;
      }
    }
  }
}


@media (max-width: $size-sm) {
  .section {
    &.article-wrap {
      padding: 32px 0;
      .article-flex {
        display: flex;
        flex-flow: column wrap;
      }
      .header-block {
        h1 {
          margin-bottom: 12px;
          font-size: 24px;
        }
        p {
          margin-bottom: 2px;
          font-size: 20px;
        }
      }
      p {
        font-size: 16px;
      }
      .article-img-block {
        margin: 0 -29px 12px -16px;
        height: auto;
        img {
          position: relative;
          top: inherit;
          right: inherit;
          display: block;
        }
      }
    }
    &.articles-list-wrap {
      padding-bottom: 0;
      .article-list {
        flex-flow: column wrap;
      }
      .article-block {
        margin-bottom: 64px;
        width: 100%;
        .title {
          font-size: 24px;
          margin-bottom: 16px;
        }
        .text {
          margin-bottom: 50px;
          font-size: 14px;
        }
        .more-link {
          font-size: 16px;
        }
      }
    }
  }
}
