.section {
  &.textcoins-wrap {
    color: rgba(0, 0, 0, .87);
    background: url('../assets/textcoins/textcoins-bg.jpg') center top no-repeat;
    &:before {
      content: '';
      position: absolute;
      height: 660px;
      width: 100%;
      top: 0;
      left: 0;
      background: url('../assets/textcoins/textcoins-repeat-bg.jpg') center top repeat-x;
      z-index: -1;
    }
    h1 {
      margin: 0;
      padding: 102px 0 16px;
      font-family: 'Open Sans', sans-serif;
      font-size: 48px;
      font-weight: 600;
      color: $link-color;
    }
    h2 {
      margin: 0 0 7px;
      font-weight: 300;
      font-size: 36px;
      color: $link-color;
    }
    p {
      line-height: 28px;
    }
    .sub-block {
      margin-bottom: 27px;
      font-size: 24px;
      line-height: 33px;
      max-width: 440px;
    }
    .sub-text-block {
      margin-bottom: 70px;
      max-width: 515px;
      font-size: 16px;
    }
    .white-block {
      margin-bottom: 16px;
      max-width: 785px;
      padding: 24px;
      background-color: rgba($white, .5);
      border-radius: 8px;
    }
    .flex-block {
      display: flex;
      .img-block {
        margin-left: 42px;
        flex-shrink: 0;
        img {
          display: block;
          box-shadow: 0 10px 24px rgba(74, 144, 226, 0.2);
        }
      }
    }
    .med-width {
      max-width: 772px;
    }
    .max-width {
      max-width: 960px;
    }
    .flex-text {
      display: flex;
      .img-block {
        max-width: 165px;
        flex-shrink: 0;
        margin-right: 70px;
        img {
          display: block;
          max-width: 100%;
        }
      }
    }
    .dev-blog {
      display: flex;
      padding: 36px 40px 30px;
      background: rgba(74, 144, 226, 0.1);
      border-radius: 8px;
      .img-block {
        margin-right: 68px;
        flex-shrink: 0;
        img {
          display: block;
        }
      }
      .cat {
        margin-bottom: 4px;
        font-size: 13px;
        line-height: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: rgba(21, 32, 43, 0.6);
      }
      .title {
        margin-bottom: 16px;
        font-size: 36px;
        font-weight: 300;
        line-height: normal;
        color: $link-color;
      }
      p {
        margin-bottom: 0;
        line-height: 28px;
      }
    }
  }
}

@media (max-width: $size-sm) {
  .section {
    &.textcoins-wrap {
      .flex-block {
        flex-flow: column nowrap;
        .img-block {
          order: 1;
          margin: 0 0 20px;
        }
        .info-block {
          order: 2;
        }
      }
      .flex-text {
        flex-flow: column nowrap;
      }
      .dev-blog {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
